body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
li {
  list-style: none;
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 2px solid transparent;
  font-size: 0;
  max-width: 25%;  
}

.active {
  border: 2px solid red;
}

li > img {
  width: 100%;
  display: block;
}

img {
  width: 100%;
}
.preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 0px;
}
.image-gallery {
  max-width: 1280px;
}