body {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.list-group {
    max-height: 85vh;
    overflow-y: auto;
    margin-top: 10px;
}
.list-group-item {
    font-size: 15px;
}
.input-group {
    margin-top: 10px;
}