body {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.btn {
    height: 50px;
    width: 120px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    color: antiquewhite;
}
p{
    text-align: center;
    font-size: 80px;
    margin: 10px;
}


.js-start {
background-color: forestgreen;
}
.js-take-lap {
    background-color: cadetblue;
}
.js-reset {
    background-color: crimson;
}
li {
    /* display: block; */
    font-size: 18px;
}

.active {
    background-color: blue; 
}
ul {
    height: 200px;
    width: 368px;
    overflow-y: scroll;
}